@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<UserManagement.UI.Models.LoginCredentials>

<div>
    <center> <h1> Login Page </h1> </center>
    <form id="login-page" action="@Url.Action("UserDetailsOnLoginBtnClick", "User")" method="post">
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" id="userName" required><br />
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required><br />
            <button id="loginbtn" type="submit">Login</button>
            @*<button id="signupBtn" type="submit" class="cancelbtn"> SignUp</button>*@
        </div>
    </form>
</div>

    <div>        
        <a asp-action="InsertUser">SignUp</a>
    </div>



